<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title">Editing service</h1>
  </div>

  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>

<%= link_to 'Back', services_path %>
