<div class="form-group">
  <%= f.label :email, class: "col-md-2" %>
  <div class="col-md-10">
    <%= f.text_field :email, class: "form-control" %>
  </div>
</div>

<%= render :partial => 'profiles/personal_info', :locals => {:f => f} %>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-10"><%= f.submit "Save changes", class: "btn btn-lg btn-primary" %></div>
</div>