%h1= @person.name
- if @person.errors.present?
  .alert.alert-danger{style: 'text-align: left'}
    %h3 Sorry, there were some errors processing your form:
    %ul
      - @person.errors.to_a.each do |msg|
        %li= msg
.panel.panel-primary
  .panel-heading
    %h2.panel-title Edit My Profile
  .panel-body
    = form_for(@person, :url => profile_path, :html => {:class => "form-horizontal", :role => "form"}) do |f|
      = render :partial => 'edit', :locals => { :f => f }
