<%= auth_stylesheet %>

<% form_for "forgot", @forgot, :url => {:action => 'forgot', :controller => 'auth'},
    :html => {:id => 'forgot_form', :style => 'max-width: 400px;', :class => 'auth_form'} do |f| %>
	
    <label for="email" class="block">Email address:</label>
    <%= text_field_tag "email" %>
	
	<p style="text-align: center;">
      <%= submit_tag "Email me a new password", :style => "width: 90%; display: inline" %>
    </p>
<% end %>