<%= auth_stylesheet %>

<% form_for('login', @login, :url => {:action => 'openid_login', :controller => 'auth'},
            :html => {:class => 'auth_form'} ) do |f| -%>
			
   <%= f.hidden_field "return_to" %>
   
   <label for="openid_url" class="block">OpenID</label>
   <%= text_field_tag "openid_url" %>
   
   <p style="text-align: center;">
     <%= submit_tag "Log in with OpenID", :style => "width: 50%; display: inline" %>
   </p>
<% end -%>