<style type="text/css">
div.auto_complete {
  z-index: 1000;
}

.permission_action {
  font-size: 80%; 
  text-transform: uppercase; 
  text-decoration: none;
  color: #444;
  background-color: #ffc;
}
</style>
<%= auto_complete_stylesheet %>

<% div_for item, :permissions do %>
  <ul>
  <% permission_names(item).each do |role| -%>
    <li><%= render :partial => "role", :object => role %></li>
  <% end -%>
  </ul>
<% end %>

