<table>
  <thead>
	  <tr>
		  <th>Name</th>
		  <th>Email</th>
	  </tr>
	</thead>
	<tbody>
  	<% @people.each do |person| -%>
  		<tr>
  			<td><%= link_to "#{person.lastname}, #{person.firstname}", admin_person_path(person) %></td>
  			<td><%= person.email %></td>
  		</tr>
  	<% end -%>
  </tbody>
</table>

<%= will_paginate @people %>

<p><%= link_to "Create new person", new_admin_person_path %></p>