<%= f.label "nickname", "Nickname:" %> <%= f.text_field "nickname" %><br/>
<%= f.label "phone", "Phone number:" %> <%= f.text_field "phone" %><br/>
<%= f.label "best_call_time", "Best time to call:" %> <%= f.text_field "best_call_time" %>